@use "sass:math";
@use "sass:string";

@mixin process-utility-map($map, $properties, $css-var: "") {
  $items: map-get($map, "items");
  $label: "";
  @each $item, $rule-set in $items {
    @each $rule, $value in $rule-set {
      @if ($item != "normal") {
        $label: "-" + #{$item};
      }
      &#{$label}-#{$rule} {
        @each $property in $properties {
          @if ($css-var == "") {
            #{$property}: #{$value};
          } @else {
            #{$property}: var(#{$css-var}#{$label}-#{$rule}, #{$value});
          }
        }
      }
      $label: "";
    }
  }
}
