@use "../00_abstract/mixins" as *;
@use "../00_abstract/config" as *;

.txt-clr-current {
  color: currentColor;
}
.txt-clr-inherit {
  color: inherit;
}
.txt-clr-transparent {
  color: transparent;
}
.txt-clr {
  @include token($colorMap, "color", "--clr");
}
.bg-clr-current {
  background-color: currentColor;
}
.bg-clr-inherit {
  background-color: inherit;
}
.txt-clr-transparent {
  background-color: transparent;
}
.bg-clr {
  @include token($colorMap, "background-color", "--clr");
}
