@use "sass:map";
@use "../abstracts/tokenConfig" as *;

@each $token, $config in $tokenGenerator {
  @each $scheme, $items in $config {
    $tokens: map-get($items, "tokens");
    $values: map-get($items, "values");
    $root: map-get($items, "root");
    $create: map-get($items, "create");

    @if $create == true {
      @each $prefix, $properties in $tokens {
        @each $key, $val in $values {
          @if $scheme == "default" {
            .#{$prefix}-#{$key} {
              @each $prop in $properties {
                @if $root == true {
                  #{$prop}: var(--#{$prefix}-#{$key}, #{$val});
                } @else {
                  #{$prop}: #{$val};
                }
              }
            }
          } @else {
            .#{$prefix}-#{$scheme}-#{$key} {
              @each $prop in $properties {
                @if $root == true {
                  #{$prop}: var(--#{$prefix}-#{$scheme}-#{$key}, #{$val});
                } @else {
                  #{$prop}: #{$val};
                }
              }
            }
          }
        }
      }
    }
  }
}
